version: 2
updates:
  - package-ecosystem: cargo
    directory: /
    schedule:
      interval: weekly
    commit-message:
      prefix: "deps"
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    commit-message:
      prefix: "ci"
    ignore:
      # These versions are managed by cargo-dist
      - dependency-name: "actions/download-artifact"
      - dependency-name: "actions/upload-artifact"
